/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 8, 2018, 11:09:38 AM
    Author     : quang
*/

.required:after{
    content: ' *';
    color: red;
}
.table-overflow{
    overflow: auto;
}
.thumb-container .icon-close2{
    position: absolute;
    right: -3px;
    color: red;
    cursor: pointer;
}
.navbar-header{
    background: rgb(38, 50, 56);
}
.group{
    clear: both;
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}
.uploader{
    margin-top: 10px;
}
.uploader .filename{
    display: none;
}
.panel-heading .nav-tabs{
    margin-bottom: 0;
}
.heading-elements{
    background: transparent;
}
.wd-50{
    width: 50%;
}
h6.text-semibold{
    display: inline-block;
    margin-right: 10px;
    margin-left: 20px;
}
.mrbt-15{
    margin-bottom: 15px;
}
.mr-right-50{
    margin-right: 50px;
}
.wd-50px{
    width: 50px!important;
}
.fl-right{
    float: right;
}
.wd-70px{
    width: 70px!important;
}
.wd-100{
    width: 100%;
}
.a-question{
    font-size: 16px;
    margin-top: 15px;
}
.a-question label{
    margin-bottom: 10px;
}
.a-question .btn{
    text-transform: none;
}
.lh40{
    line-height: 40px!important;
}