*{
    padding: 0;
    margin: 0;
    font-size: 18px;

}
@font-face {
    font-family: 'SVN-Boing';
    src: url('../../fonts/SVN-Boing.eot') format('embedded-opentype'), url('../..//fonts/SVN-Boing.woff') format('woff'), url('../..//fonts/SVN-Boing.ttf') format('truetype'), url('../..//fonts/SVN-Boing.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SVN-BoingMedium';
    src: url('../../fonts/SVN-BoingMedium.eot?#iefix') format('embedded-opentype'),  url('../../fonts/SVN-BoingMedium.woff') format('woff'), url('../../fonts/SVN-BoingMedium.ttf')  format('truetype'), url('../../fonts/SVN-BoingMedium.svg#SVN-BoingMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SVN-BoingBold';
    src: url('../../fonts/SVN-BoingBold.eot?#iefix') format('embedded-opentype'),  url('../../fonts/SVN-BoingBold.woff') format('woff'), url('../../fonts/SVN-BoingBold.ttf')  format('truetype'), url('../../fonts/SVN-BoingBold.svg#SVN-BoingMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'SVN-Boing', sans-serif;
    background: #f8f8f8;
    color: #3b3b3b;
}

.container{
    background: white;
}
#header .container{
    background: transparent;
}
.header-ketqua{
    /*background-repeat: no-repeat !important;*/
    /*background-size: cover !important;*/
    /*height: 200px;*/
    /*background: url("../images/diem.png");*/
}
.backgroud img {
    height: 200px;
    width: 100% !important;
}
.backgroud {
    z-index: -1;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}
.col-md-6.logo img {
    margin-top: 17px;
    margin-right: 64px;
    float: right;
}
.top-header p {
    margin-top: 15px;
    line-height: 1.2;
    font-size: 16px;
    color: #fff;
}
.top-header p span {
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'SVN-BoingMedium';
}
.col-md-4.text-right {
    margin: 40px 0;
    position: relative;
}
.col-md-4.text-right:before{
    content: '';
    border-right: 4px solid #d8d8d8;
    height: 100%;
    position: absolute;
    top: 0;
    right: -10%;
}
.col-md-4.text-right p {
    margin: 0;
    color: #717171;
}
.col-md-4.text-right p span {
    color: #717171;
    font-size: 28px;
}
.col-md-4.text-left{
    position: relative;
    margin: 40px 0;
}
.col-md-4.text-left:before{
    content: '';
    border-left: 4px solid #d8d8d8;
    height: 100%;
    position: absolute;
    top: 0;
    left: -10%;
}
.col-md-4.text-left p:nth-child(1) {
    font-size: 28px;
    margin: 0;
    color: #f2724d;
}
.col-md-4.text-left p:nth-child(2) {
    margin: 0;
    color: #717171;
}
.tongdiem{
    background: url('../..//images/frontend/point-bg.png') center no-repeat;
    padding-top: 15px;
    padding-bottom: 15px;
}
.tongdiem p:nth-child(1){
    margin-top: 10px;
    margin-bottom: 10px;
}
.tongdiem p:nth-child(2){
    font-family: "SVN-BoingBold";
}
.col-md-4.tongdiem.text-center p:nth-child(1){
    font-size: 18px;
    color: #fff;
}
.col-md-4.tongdiem.text-center p:nth-child(2) {
    margin-top: -35px;
    font-weight: bold;
    font-size: 75px;
    color: #fff;
    margin-bottom: 0;
}

/*main*/

/*tongquan*/
.tongquan {
    position: relative;
    /*border-top: 2px dotted #d8d8d8;*/
    margin-top: 20px;
}

.tongquan h3 {
    color: #3b3b3b;
    top: -50px;
    position: absolute;
    margin-top: 10px;
    width: 22%;
    background: #fff;
}
.tongquan .row {
    margin-top: 25px;
}

.diem{
    text-align: center;
}
p.diemso {
    font-family: "SVN-BoingBold";
    background-repeat: no-repeat;
    text-align: center;
    padding: 15px 0 25px;
    color: #3b3b3b;
    font-size: 73px;
    /*background: url(../../images/frontend/diem-frame.png);*/
    background-repeat: no-repeat;
    font-weight: bold;
    width: 160px;
    height: 144px;
    position: absolute;
    top: 0;

}

/*phantich*/
.phantich {
    position: relative;
    /*border-top: 2px dotted #d8d8d8;*/
    margin-top: 50px;
}
.phantich h3 {
    color: #3b3b3b;
    top: -50px;
    position: absolute;
    margin-top: 10px;
    width: 22%;
    background: #fff;
}
.block {
    padding: 40px 30px 10px 30px;
    margin: 20px 0;
    border-radius: 20px;
    border: 2px dashed #f15b26;
}
p.name-part {
    font-size: 24px;
    color: #f15b26;
    font-family: 'SVN-BoingBold';
}
td:nth-child(1) {
    color: #8a8a8a;
    font-size: 16px;
}
td.ketqua span {
    margin-left: 10px;
    color: #f15b26;
}
td.trinhdo {
    padding: 10px;
    color: #3b3b3b;
}
p.vande-title {
    font-family: 'SVN-BoingMedium';
    font-size: 24px;
    /* color: #3b3b3b; */
}
p.giaiphap-title {
    color: #f15b26;
    font-size: 24px;
    font-family: 'SVN-BoingMedium';
}
h3{
    font-family: 'SVN-BoingMedium';
}
.tongdiem p:nth-child(2){
    font-family: 'SVN-BoingMedium';
}
.top-result{
    background-image: linear-gradient(to right, #e0f7ed 0%, #eff8df 100%);
    color: #8a8a8a;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#footer .container{
    background: transparent;
}
.main-ketqua{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 60px;
    margin-bottom: 40px;
}
hr{
    border: 1px dotted #d8d8d8;
}
.circle p:nth-child(2){
    color: #8a8a8a;
}
.phase{
    text-align: center;
    width: 85%;
}
.phase:before{
    content: '';
    border-right: 4px solid #e1e1e1;
    height: 100%;
    position: absolute;
    top: 0;
    right: 5%;
}
.phase_point{
    text-align: left;
    color: #8a8a8a;
}
.trinhdo{
    background-image: linear-gradient(to right, #808080 0%, #b8b7b8 100%);
    color: white;
    text-align: center;
}
.progress-bar{
    background-image: linear-gradient(to right, #f8243f 0%, #fb853f 100%);
    height: 30px;
}
.footer-kq{
    padding-bottom: 30px;
}
.footer-kq button{
    padding: 15px 35px;
    border: none;
    /*background: none;*/
    text-transform: uppercase;
    font-style: italic;
    font-family: 'SVN-BoingMedium';
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}
.footer-kq .fa{
    padding-left: 5px;
    padding-right: 5px;
}
.download{
    background-image: linear-gradient(to right, #808080 0%, #b8b7b8 100%);
}
.email{
    background-image: linear-gradient(to right, #f8243f 0%, #fb853f 100%);
}