@media only screen and (max-width: 425px){

    /*home*/
    .container {
        margin: 0 auto;
        padding: 0 15px;
        width: 100%;
    }
    .box-info button{
        width: 100%;
    }
    .logo {
        display: inline;
    }
    .number-phone:nth-child(4),.number-phone:nth-child(6) {
        display: none;
    }
    /*.number-phone {*/
    /*display: none;*/
    /*}*/
    i.fa.fa-ellipsis-v {
        display: none;
    }
    .phone {
        display: none;
        /*margin-bottom: 10px;*/
        /*float: unset;*/
        /*margin-right: 0;*/
    }
    .social {
        float: unset;
    }
    .info {
        /*margin-top: 30px;*/
        margin-right: 0;
    }
    #banner {
        background: url(../..///images/frontend//home-banner.jpg);
        height: unset;
        margin-bottom: 30px;
    }
    .item-1 img {
        width: 100%;
    }
    .item-2.text-center img {
        width: 90%;
    }
    .part {
        margin-bottom: 40px;
    }
    .box-bottom a {
        width: 100%;
        padding-left: unset;
        padding-right: unset;
    }
    .box-bottom .btn{
        padding: 6px 50px;
    }
    .result input#sdt {
        width: 100%;
    }
    #footer {
        text-align: center;
    }

    /*form-info*/
    .note {
        padding: 25px 15px 40px;
        background-repeat: round;
    }
    .title-note .free {
        left: 50%;
    }
    .result{
        margin: unset;
    }
    .result .title {
        margin-top: 40px;
        height: unset;
    }
    .box-info form {
        padding: 30px 20px 30px 30px;
    }
    .box-info form input {
        /*margin-top: 10px;*/
        float: unset;
        display: unset;
        width: 100% !important;
    }
    .box-info .form-group {
        height: 80px;
    }
    .box-info form select {
        /*margin-top: 10px;*/
        width: 100% !important;
    }
    .box-info form span {
        font-size: 16px !important;
    }
    .box-info form label {
        width: unset !important;
        display: unset !important;
        font-size: 16px;
    }
    .coso {
        margin: 15px 0 10px;
        display: unset;
        width: unset;
    }
    .result .btn {
        width: 100%;
        padding-right: unset;
        padding-left: unset;
        padding-top: 6px;
        padding-bottom: 6px;
    }


    /*listening*/
    .list-question h3 {
        margin: 10px 15px 30px;
    }
    .list-question .row .col-md-6:nth-child(odd) .a-question {
        border-right: 0;
    }
    .list-question .row .col-md-6:nth-child(odd) {
        padding-right: 15px;
        /* border-top: 1px dotted; */
    }
    .list-question .row .col-md-6:nth-child(even) {
        padding-left: 15px;
        /* border-top: 1px dotted; */
    }
    .list-listening .a-question {
        padding: 30px 15px 30px;
    }
    .list-question .row .col-md-6:nth-child(3) .a-question{
        border-bottom: 1px dotted;
    }


    audio {
        width: 100%;
        margin-left: 0!important;
    }

    /*reading*/
    .list {
        padding: 0 15px;
    }
    .a-question img {
        width: 100%;
        margin-top: 0;
        margin-left:0;
    }


    /*writting*/
    .tieude {
        padding: 13px 5px;
    }
    .count p {
        margin-right: 0;
        padding: 10px 5px 20px;

    }

    /*speaking*/
    .introduction {
        padding: 10px 15px;
    }
    .time-box {
        padding: 30px 15px 30px;
    }
    .time-box input {
        margin-bottom: 15px;
        width: 100%;
        margin-right: 0;

    }

    /*kiemtra*/
    .header-ketqua{
        height: unset;
    }
    .top-header p {
        margin-top: 0;
        font-size: 13px;
    }
    .col-md-6.logo img {
        margin-top: 10px;
        /*margin-right: 0;*/
        float: left;
    }
    .col-md-6.logo.col-xs-6 {
        /*width: 30%;*/
    }
    .top-header .col-md-6:nth-child(1){
        display: none;
        /*width: 70%;*/
    }
    .top-header br{
        display: none;
    }
    .bottom-header .col-md-4.text-right {
        display: none;
    }
    .col-md-4.text-left {
        text-align: center;
        margin: 50px 0;
        border-left: 0;
    }
    .backgroud {
        overflow: hidden;
    }
    .backgroud img {
        margin-left: -50%;
        /* left: 50%; */
        height: 200px;
        width: 200% !important;
    }
    .backgroud img {
        height: 170px;
    }
    .col-md-4.tongdiem.text-center p:nth-child(1) {
        margin-top: -10px;
    }
    .col-md-4.tongdiem.text-center p:nth-child(2) {
        margin-top: -20px;
        font-size: 60px;
    }
    .col-md-4.text-left {
        text-align: center;
        margin: 20px 0;
        border-left: 0;
    }

    .tongquan h3, .phantich h3 {
        width: unset;
    }
    /*.block img{*/
    /*margin-left: 30%;*/
    /*}*/
    .block .col-md-4 {
        text-align: center;
    }
    .block .col-md-4 table {
        margin: 0 auto;
        background-color: transparent;
        text-align: left;
    }
    p.name-part {
        text-align: center;
    }
    .block {
        padding: 15px 15px;
    }
    .content-header .text-right{
        text-align: center;
    }

    /*kq*/
    .tongquan h3{
        text-align: center;
        position: relative!important;
        width: 100%!important;
    }
    p.diemso{
        width: 90%!important;
    }
    .main-ketqua{
        padding-left: 0;
        padding-right: 0;
    }
    .phase{
        width: 100%;
    }
    .phase:before{
        border-right: none;
    }
    p.vande-title{
        margin-top: 15px;
    }
    .phantich ul{
        list-style: none;
    }
    .footer-kq button{
        margin-bottom: 15px;
    }
}


@media only screen and (max-width: 375px){

    /*writing*/
    .box .title h3 {
        font-size: 20px;
    }
    audio{
        width: 100%;
        margin-left: 0 !important;
    }
}

@media only screen and (width: 320px){
    /*form-info*/
    .title-note .free {
        letter-spacing: 4px;
        font-size: 16px;
        left: 60%;
    }

    /*writing*/
    .count p{
        font-size: 16px;
    }

    /*ketqua*/
    .col-md-4.tongdiem.text-center p:nth-child(1) {
        margin-top: 0;
        font-size: 16px;
    }

}

@media only screen and (width: 768px){
    .container {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }
    .social {
        text-align: right;
        float: unset;
    }
    .phone {
        /*float: left;*/
        margin-right: 0;
    }
    .info {
        margin-right: 0;
        margin-top: 25px;
    }
    .result .btn {
        padding-left: unset;
        width: 100%;
        /* padding: 6px 175px; */
        padding-right: unset;
    }

    .result {
        margin: 35px 100px;
    }

    /*ketqua*/
    .main-ketqua .container {
        padding: 0 15px;
        width: 100%;
    }
    .header-ketqua .container {
        padding: 0 15px;
        /*width: 100%;*/
    }
    .col-md-6.logo.col-xs-6.col-sm-6 {
        padding-right: 0;
    }
    .top-header p {
        margin-top: 5px;
    }
    .col-md-4.tongdiem.text-center p:nth-child(1) {
        margin-top: -10px;
    }
    .col-md-4.tongdiem.text-center p:nth-child(2) {
        margin-top: -25px;
        font-size: 68px;
    }
    .tongquan h3 {
        width: 35%;
    }
    .phantich h3{
        width: 30%;
    }
    .block .col-md-4 {
        text-align: center;
    }
    table {
        margin: 0 auto;
        text-align: left;
    }

}
@media only screen and (width: 1024px){
    .container {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }
    .box-info form input {
        width: 65% !important;
    }
    .box-info form select {
        width: 65% !important;
    }

    /*ketqua*/
    .main-ketqua .container {
        padding: 0 15px;
        width: unset;
    }
    .header-ketqua .container {
        padding: 0 15px;
        width: unset;
    }
    .tongquan h3 {
        width: 25%;
    }

}
