*{
    padding: 0;
    margin: 0;
    font-size: 18px;

}
@font-face {
    font-family: 'SVN-Boing';
    src: url('../../fonts/SVN-Boing.eot') format('embedded-opentype'), url('../..//fonts/SVN-Boing.woff') format('woff'), url('../..//fonts/SVN-Boing.ttf') format('truetype'), url('../..//fonts/SVN-Boing.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SVN-BoingMedium';
    src: url('../../fonts/SVN-BoingMedium.eot?#iefix') format('embedded-opentype'),  url('../../fonts/SVN-BoingMedium.woff') format('woff'), url('../../fonts/SVN-BoingMedium.ttf')  format('truetype'), url('../../fonts/SVN-BoingMedium.svg#SVN-BoingMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family: 'SVN-Boing', sans-serif;
    background-color: #f8f8f8;
    color: #474747;
}

.container{
    margin: 0 auto;
    padding: 0;
    width: 1200px;
}

.row {
    margin-right: -13px !important;
    margin-left: -15px;
}
.speaker .a-question{
    display: inline-block;
    width: 100%;
    clear: both;
}
/*header*/
#header{
    height: 100px;
}
.info{
    margin-right: 42px;
}
.logo {
    float: left;
    margin-top: 25px;
}
.info {
    float: right;
    margin-top: 35px;
}
.phone {
    float: left;
    margin-right: 60px;
}
.number-phone{
    font-size: 20px;
    color:#f15b26;
    font-weight: bold;
    margin: 10px;
}
.fa.fa-ellipsis-v{
    color: #dadada;
}
.social {
    float: left;
}
.social .fa{
    color: #a7b0b7;
    font-size: 24px;
    margin-right: 15px;
}
.social .fa.fa-youtube:hover{
    color: #e6172b;
}
.social .fa.fa-facebook:hover{
    color: #0e6bb4;
}
.social .fa.fa-instagram:hover{
    background: linear-gradient(to right, #ffd053 0%, #c837ab 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*banner*/
#banner {
    background: url("../../images/frontend/home-banner.jpg");
    height: 250px;
    margin-bottom: 30px;
    background-size: cover;

}
.item-1 {
    margin-top: 10%;
}
.item-1 img {
    width: 100%;
}
.item-2 {
    margin-top: 10px;
}

/*main*/

.box{
    box-shadow: -1px 2px 9px 1px rgba(0, 0, 0, .1);
    background: #ffffff;

}
.box-home{
    padding: 35px 0 40px;
}
.box.box-home .title {
    height: unset;
}
.title h2{
    margin-top: 0;
    font-size: 34px;
    text-transform: uppercase;
    background: linear-gradient(to right, #f8243f 0%, #fb853f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title p:nth-child(3) {
    font-weight: bold;
}
.part{
    margin-bottom: 60px;
}
.part p:nth-child(2){
    text-transform: uppercase;
    font-size: 16px;
}
.part h3{
    margin-top: 0;
    font-size: 21px;
    color: #f15b26;
    text-transform: uppercase;
}
.part.text-center img {
    width: 100%;
}
.box-bottom p{
    font-style: italic;
    color: #f15b26;
}
.box-bottom p span{
    text-transform: uppercase;
    font-weight: bold;
}
.box-bottom a, .box-bottom .btn{
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    background-image: linear-gradient(to right, #f8243f 0%, #fb853f 100%);
    padding: 6px 225px;
}
.btn-pasal{
    background-image: linear-gradient(to right, #f8243f 0%, #fb853f 100%);
    margin-right: 10px;
    margin-left: 10px;
    color: white;
    margin-bottom: 5px;
}
.form-pasal{
    margin-top: 15px;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #f8243f;
    color: #f8243f;
    background: none;
}
.box-bottom a:active, .box-bottom a:focus, .box-bottom .btn:active, .box-bottom .btn:focus {
    /*background-repeat: no-repeat;*/
    color: #ffffff;
    /*font-size: 25px;*/
    /*text-transform: uppercase;*/
    /*font-weight: bold;*/
    /*font-style: italic;*/
    background-image: linear-gradient(to right, #f8243f 0%, #fb853f 100%);
    /*padding: 6px 225px;*/
}
.box-bottom a:hover{
    color: #ffffff;
}
/*footer*/
#footer{
    color: #b4b4b4;
    padding: 35px 0;
}
#footer p{
    font-size: 16px;
    margin: 0;
}
.btn-re-pasal{
    float: right;
}

/*Trang form-info*/

/*main*/

.note{
    color: #fff;
    padding: 25px 54px 40px;
    background: url("../../images/frontend/background-dangky.jpg");
    text-align: justify;
    background-repeat: no-repeat;
    background-size: 100%;
}
.note p{
    font-size: 21px;
}
.title-note{
    position: relative;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: bold;
}
.title-note h2{
    font-size: 34px;
}
.title-note .free{
    position: absolute;
    border-bottom: 2px solid;
    margin-left: 10px;
    /* word-spacing: 15px; */
    letter-spacing: 7px;
    font-size: 17px;
    color: #ffc107;
    font-family: 'SVN-BoingMedium';
    bottom: 10%;
    left: 30%;
}
.box-info .row .col-md-6:nth-child(1) {
    /* margin: 0!important; */
    /*padding-right: 0 !important;*/
}
.box-info .row .col-md-6:nth-child(2) {
    /* margin: 0!important; */
    padding-left: 0 !important;
}
.box-info .form-group span {
    font-size: 20px;
}
.box-info form{
    padding: 30px 40px 30px 30px;
}
form label{
    font-size: 20px;
}
.box-info form label {
    /*float: left;*/
    /*font-weight: bold;*/
    width: 20% !important;
    display: inline !important;
}
.box-info .form-group {
    display: inline-block;
    width: 100%;
    line-height: 50px;
}
.box-info form input{
    height: 50px;
    padding: 10px 15px;
    background: #f3f3f3;
    border-radius: 30px;
    font-style: italic;
    font-size: 16px;
    float: right;
    display: inline !important;
    width: 70% !important;
}
.box-info form select{
    height: 50px;
    padding: 10px 15px;
    font-style: italic;
    border-radius: 30px;
    background: #dadada;
    float: right;
    display: inline !important;
    width: 70% !important;
}
.coso {
    line-height: 1.2;
    float: left;
    /* display: inline; */
    width: 30%;
}
span.text-danger{
    display: inline-block;
    width: 100%;
    clear: both;
}
.box-bottom.form-bottom {
    font-style: italic;
    margin-top: 15px;
}
.form-bottom a {
    padding-left: unset;
    color: #ffffff;
    width: 100%;
    padding-right: unset;
}
.result{
    margin: 35px 155px;
}
/*result .title{*/
/*height: unset;*/
/*}*/
.result form label{
    margin-top:22px;
    margin-bottom: 0;
}
.result input#sdt {
    height: 50px;
    padding: 10px 15px;
    border-radius: 25px;
    font-style: italic;
    font-size: 16px;
    margin: 15px auto 22px;
    width: 55%;
}
.result .btn{
    padding: 6px 175px;
}

/*listening-1*/
.list-listening {
    border-top: 1px dotted;
    border-bottom: 1px dotted;
}
audio, video{
    margin-bottom: 15px;
    width: 500px;
}
.list-listening .a-question {
    padding: 30px 30px 40px;
    border-bottom: 1px dotted;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.box .title h3{
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
    display: inline;
}
.title {
    height: 80px;
}
.tieude{
    padding: 13px 30px;
    margin-top: 15px;
    color: #ffffff;
    background-image: linear-gradient(to right, #f8243f 0%, #fb853f 100%);
    display: inline;
    float: left;
}

.count {
    float: right;
    display: inline;
}
.count p {
    color: #bababa;
    text-transform: uppercase;
    margin-top: 20px;
    /* background-size: auto; */
    background-repeat-x: no-repeat !important;
    margin-right: 20px;
    /*background-repeat: no-repeat;*/
    padding: 10px 30px 20px;
    background: url(../../images/frontend/question-frame.png);
    margin-bottom: 0;
    background-repeat-y: no-repeat;
}
.list-question h3{
    text-align: justify;
    font-weight: bold;
    color: #8a8a8a;
    margin: 10px 30px 30px;
}
.list-question .row .col-md-6:nth-child(odd) {
    padding-right: 0;
    /* border-top: 1px dotted; */
}
.list-question .row .col-md-6:nth-child(even) {
    padding-left: 0;
    /* border-top: 1px dotted; */
}
.list-question .row .col-md-6:nth-child(even) .a-question{
    /*padding-left: 50px;*/
}
.list {
    border-bottom: 1px dotted;
    padding: 0 50px;
    border-top: 1px dotted;
}
.a-question {
    padding: 30px 0 40px;
    border-bottom: 1px dotted;
}
.list .a-question:last-child{
    border-bottom: 0;

}
p.question {
    font-size: 20px;
    color: #191919;
    font-weight: bold;
}
.list-question .row .col-md-6:nth-child(odd) .a-question {
    border-right: 1px dotted;
}
/*.list-question .row .col-md-6:nth-child(3) .a-question, .list-question .row .col-md-6:nth-child(4) .a-question{
    border-bottom: 0;
}*/
.box-bottom.question-box {
    padding: 30px;
}
.a-question form {
    color: #191919;
}

.a-row {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.a-row input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 31px;
    width: 31px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #737373;
}

.a-row:hover input ~ .checkmark {
    background-color: #ccc;
}

.a-row input:checked ~ .checkmark {
    left: -5px;
    width: 37px;
    height: 37px;
    background-color: #fff;
    border: 1px solid #fb853f;
    border-radius: 50%;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.a-row input:checked ~ .checkmark:after {
    display: block;
}

.a-row .checkmark:after {
    border: 1px solid #fff;
    top: 1.2px;
    left: 1.2px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-image: linear-gradient(#fb853f, #f8243f);
}
label.a-row {
    line-height: 2.0;
    font-size: 18px;
    color: #191919;
    font-weight: normal;
}
audio.audio {
    margin-left: 37%;
    margin-bottom: 22px;
}

/*reading*/

.a-question img {
    margin-bottom: 20px;
}
.list-question{
    display: none;
}
.question-1{
    display: block;
}
.text-center img{
    max-width: 100%;
}
/*speaking*/
.introduction {
    padding: 10px 50px;
    text-align: justify;
}
.time-box {
    border-bottom: 1px dotted;
    padding: 30px 50px 40px;
}
.time-box p {
    font-size: 20px;
    margin-bottom: 25px;
    color: #f15b26;
    font-weight: bold;
}
.time-box form label {
    margin-right: 20px;
    font-size: 20px;
}
.time-box input[type="date"] {
    margin-right: 35px;
}
.time-box input {
    background: #f3f3f3;
    margin-right: 35px;
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid #d5d5d5;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.row-eq-height:after, .row-eq-height:before{
  display: none;
}
.row-eq-height .col-md-6{
    display: flex; 
}
.row-eq-height .a-question{
    display: flex;
    flex-direction: column;
}
.appointment .col-md-2, .appointment .col-md-3{
    float: left;
    line-height: 50px;
}
.appointment input{
    height: 50px;
    line-height: 50px;
    border-right: none;
    font-size: 20px;
}
.appointment .input-group-addon{
    width: 50px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-left: none;
    background: #f3f3f3;
}
/*ketqua*/
/*input[type="date"]::after {*/
/*font-family: FontAwesome;*/
/*content: '\f073';*/
/*margin-left: -20px;*/
/*}*/